<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{numOf(satellites, 'Space Debris')}}</span></div>
   <div>Communication: <span>{{numOf(satellites, 'Communication')}}</span></div>
   <div>Probe: <span>{{numOf(satellites, 'Probe')}}</span></div>
   <div>Positioning: <span>{{numOf(satellites, 'Positioning')}}</span></div>
   <div>Space Station: <span>{{numOf(satellites, 'Space Station')}}</span></div>
   <div>Telescope: <span>{{numOf(satellites, 'Telescope')}}</span></div>
</div>